In [2]:
import pandas as pd

def greedy_matching(df, n):
    matched_list = []
    match_id = 1
    used_mb1 = set()
    used_mb2 = set()
    
    for mb1 in df['mb1'].unique():
        if mb1 not in used_mb1:
            potential_matches = df[(df['mb1'] == mb1) & (~df['mb2'].isin(used_mb2))]
            matched_mb2 = potential_matches['mb2'].head(n).tolist()
            
            if matched_mb2:
                matched_list.extend([(mb1, 'mb1', match_id, 1)] + [(mb, 'mb2', match_id, 1/len(matched_mb2)) for mb in matched_mb2])
                used_mb1.add(mb1)
                used_mb2.update(matched_mb2)
                match_id += 1
                
    matched_df = pd.DataFrame(matched_list, columns=['mb', 'group', 'match_id', 'weight'])
    return matched_df

def main():
    path_to_file = 'to_match.csv'  # Adjust the path as needed
    df_to_match = pd.read_csv(path_to_file)
    n = 3  # Change this based on your requirements
    matched_df = greedy_matching(df_to_match, n)
    matched_df.to_csv('matched_plus_weight.csv', index=False)
    print("Matching completed and results with weights saved to 'matched_plus_weight.csv'.")

if __name__ == "__main__":
    main()

In [4]:
import pandas as pd
to_match_df=pd.read_csv('to_match.csv')
# Example usage with n=3
matched_df_example = greedy_matching(to_match_df, 3)

In [6]:
# Display the first few rows of the result to verify the structure
matched_df_example

   mb group  match_id
0   a   mb1         1
1   q   mb2         1
2   r   mb2         1
3   s   mb2         1
4   b   mb1         2
5   t   mb2         2
6   u   mb2         2
7   v   mb2         2
8   c   mb1         3
9   w   mb2         3
10  x   mb2         3
11  d   mb1         4
12  y   mb2         4
13  z   mb2         4